.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.carousel-content {
  width: 100%;
  max-width: 1200px;
  height: auto;
  min-height: 400px;
  margin: 0 auto;
  background-color: #131312;
  padding: 20px;
}

@keyframes moveBackground {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 100%;
  }
}

.divisor {
  width: 100%;
  height: 3em;
  margin: 2em 0;
  color: azure;
  background: linear-gradient(to right, #131312, #9e2114);
  background-size: 200% 200%;
  animation: moveBackground 10s infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divisor p {
  font-size: 1.3em;
  text-align: center;
  margin-top: unset;
  margin-bottom: unset;
}

.considerations h5 {
  background: #131312;
  width: 9em;
  text-align: center;
  font-size: 1em;
  color: azure;
  padding: 10px;
  border-radius: 1em 1em 0 0;
}

.considerations p {
  margin: 1em 1.5em;
}

textarea {
  resize: none;
}